* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.firstblock {
    display: flex;
    height: 250px;
    width: 400px;
    background-color: rgb(243, 237, 225);
    margin: auto;
}

.form {
    text-align: center;
    margin: 20px 0;
}

.form label {
    background-color: rgb(32, 32, 148);
    color: white;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.form label.active {
    background-color: rgb(218, 73, 92);
}

#editing {
    display: none;
}

.fields {
    margin: 10px 0;
    padding: 20px 0;
}

.fields>input {
    height: 30px;
    margin: 0 10px;
}

.secondblock {
    height: 170px;
    width: 250px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}

.day {
    font-size: 40px;
    font-weight: 700;
}

.hour {
    font-size: 60px;
    font-weight: 700;
}

.date {
    font-size: 20px;
    font-weight: 600;
}

.reset {
    display: flex;
    position: relative;
    margin: 20px auto;
    background-color: rgb(32, 32, 148);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}

.reset:hover {
    background-color: rgb(10, 10, 27);
}